; Draws a 3D scene on each vertex of a reference 3d scene; Reference Scene (it will be used to capture the 3d vertex)sMatrixModelFilePath /pool/models/cube/cube.obj; Scene to draw on each vertexsModelFilePath /pool/models/cube/cube.objsVShaderPath /pool/models/cube/basic.vertsFShaderPath /pool/models/cube/basic.fragfEnableDepthBufferClearing 0fEnableDrawWireframe 0; Bones animation support for each scene to drawfEnableAnimation 0fAnimationNumber 0sAnimationTime aTime:=t;; ******************************************************************; * OBJECTS POSITIONING (n is used to identify the object to draw) *; ******************************************************************; Translation for object nstring tx:=0; ty:=0; tz:=0;; Rotation for object nstring rx:=0; ry:=180*sin(t*n); rz:=0;; Scale for object nstring sx:=0.5; sy:=0.5; sz:=0.5;; **********************; ** SHADER VARIABLES **; **********************