; This is used to replicate an image 'n' times; varying certain parameters each time such as; size, rotation, position, etc...; Blending mode (optional)blend SRC_ALPHA ONE; The number of images to drawfNumTextures 20; Use an already buffered texture?; If yes, we must indicate the buffer number; in which the texture resides. If not, we will; indicate the texture to use in the last linesfUseBufferedTexture 1fBufferNumber 0; If the depth buffer is disabled, already existent; information in this buffer won't clip the results; of the renderingfDisableDepthBuffer 1; Edit mode (1=enabled; 0=disabled)fEditMode 0; The texture to repeatsTexture data/pool/particles/redStreaks.jpg; The position of the first element to drawcFirstPosition data/pool/paths/positions/default.pth; Calculations to apply to the next elementscNextVariation data/pool/raymatrix/flower.pth