; **************************
; * Equation-driven camera *
; **************************

spline data/pool/cameras/default.cam

fInteractiveCamera 1

; Positioning
sPosition  posX=cam_eye_x;  posY=cam_eye_y;  posZ=cam_eye_z;
sAngle     angX=cam_angle_x;  angY=cam_angle_y;  angZ=cam_angle_z;
sTarget   lookX=cam_target_x; lookY=cam_target_y; lookZ=cam_target_z;

; Other parameters
sFov fov=90;
sZplanez zNear=0.1; zFar=5000;
sRoll roll=0;