; ***************
; * Radial blur *
; ***************

string iterations = 30;
string alpha = 0.04;
string separation = 0.1;

; ******************************
; * Origin of the radial blur  *
; * Centered: 0,0 Limits: -1,1 *
; ******************************
string originX = sin(3*t);
string originY = cos(4*t);