; *****************************************************
; * imagePart: Quad with animated texture coordinates *
; *****************************************************

; Blending and Alpha parameters
; blend SRC_ALPHA ONE
alpha LEQUAL 0.1 0.1

; The texture file to use
string data/pool/textures/littlebitchard/bitchard.tga

; QUAD position (9 channels)
spline data/pool/paths/positions/default.pth

; Portion of the image drawn at the beginning
; and the end of the effect
param 0 1