string data/pool/logo/frame.lwo

string rate = 300;initialParticles=0;

string x=p0; y=py0+0.2*age*age; z=pz0 + 0.04*cos(t*M_PI*age*r*r);
string rx=0;ry=0;rz=0;
string red=0.3; green=0.06+beat/40; blue=0; alpha=1-(2*age-1)*(2*age-1);

string size = 0.1 + r/7;
string life = 1-age;

;Texture buffer to use as particle
fRTTbuffer 0
fDisableDepthBuffer 1
; Position of the sources through time
sTranslate tx=0; ty=0; tz=0;
sRotate    rx=0; ry=0; rz=0;
sScale     sx=1; sy=1; sz=0;