string data/pool/logo/frame.lwo

string rate = t*20;initialParticles=0;

string x=0.5*cos(t)*px0; y=py0 ; z=pz0;
string red=0.25 - age/2; green=0.2; blue=age; alpha=(3-age);
string rx=0;ry=0;rz=0;
string size = 1/(3*t) + 0.04 * sin(n * t / 50);
string life = 3-age;

;Texture buffer to use as particle
fRTTbuffer 0
fDisableDepthBuffer 1

; Position of the sources through time
sTranslate tx=0; ty=0; tz=0;
sRotate    rx=0; ry=0; rz=0;
sScale     sx=1; sy=1; sz=0;