; Specify the model to load and the shader to applysModelFilePath /pool/models/torus/torus.3dssShaderPath /pool/models/torus/torus.glslfEnableDepthBufferClearing 0fEnableDrawWireframe 0; Animation support for objects, bones and camerasfEnableAnimation 0fAnimationNumber 0; Wich camera to use? (-1 means no camera used)string CameraNumber:=-1;; Animation time (normally 't')string aTime:=0;; ******************; OBJECT POSITIONING; ******************; Translation for object nstring tx:=0; ty:=0; tz:=-10;; Rotation for object nstring rx:=0; ry:=30.0*sin(t/10); rz:=0;; Scale for object nstring sx:=0.1; sy:=0.1; sz:=0.1;; ********************************************************************************; SHADER VARIABLES; Any other shader uniform variables used in the shader, should be configured here; ********************************************************************************uniform vec3 add_color v1:=1.0*beat;v2:=0;v3:=0;uniform float scale v1:=1+0.1*beat;