; *******************************************************; Object Morph; Creates a Morph between the starting and ending objects; Along the Start and End time; *******************************************************; Model for Starts3DFile data/pool/lorentz/lorentz1.lwo; Model for Ends3DFile data/pool/lorentz/lorentz2.lwo; Spline file for both objectscSpline data/pool/paths/positions/rotationY360.pth; Shading file for all the objectsshaders data/pool/lorentz/lorentz.shader; Flag to delete the depth buffer before drawingfEnableDepthBufferClearing 1; Interpolation Mode; 1 = lineal; 2 = smoothfInterpolationMode 2; Base directory for texture loadingsBaseDirectory data/pool/lorentz/