; Draws a quad onto the screen using a filter shader (for drawing a blur effect)

; Clear the screen buffer before restoring? (1=yes, 0=no)
fClearScreenBuffer 1

; Clear the depth buffer before restoring? (1=yes, 0=no)
fClearDepthBuffer 1

; Shader file
sShaderPath /pool/shaders/filter/filter-blur.glsl

; Shader variables
; ***************************************************
uniform sampler2D screenTexture 0 fbo0
uniform float steps v1:=5*beat;