sDir data/pool/scenes/ocean/objects/
sFile ocean_ceiling.lwo
shaders data/pool/object shaders/texture.shader
fEnableDepthBufferClearing 1

string x=x0; y=y0+0.03*cos(z*t); z=z0+0.03*sin(x*t);
string u=u0+0.05*cos(v*t);
string v=v0;

; Position
string tx=0; ty=0; tz=0;

; Rotation
string rx=0; ry=2*t; rz=0;

; Scale
string sx=1; sy=1; sz=1;