sModelDirectory data/pool/models/cube/sModelFileName cube.lwoshaders data/pool/models/cube/cube.shadersSourcesPosition defaultfEnableDepthBufferClearing 0; **********************; * OBJECT POSITIONING *; **********************; Position for object nstring tx=0; ty=0; tz=0;; Rotation for object nstring rx=0; ry=0; rz=0;; Scale for object nstring sx=1; sy=1; sz=1;; ***********************; * SOURCES POSITIONING *; ***********************; Sources Positionstring tx=0; ty=0; tz=0;; Sources Rotationstring rx=0; ry=0; rz=0;; Sources scalestring sx=1; sy=1; sz=1;