; This section enables a glsl shader that renders
; the screen ilike a giant leds screen

; FRAGMENT SHADER
string data/pool/shaders/leds/vertex.txt

; VERTEX SHADER
string data/pool/shaders/leds/fragment.txt

; PARAMETERS
string float pixelSize v1=1;
string float billboardSizeX v1=80;

string float billboardSizeY v1=40;
string float tolerance v1=0.1;
string float pixelRadius v1=0.5;

string sampler2D billboardTexture rtt0