; Draws particles for a given source 3d model; Each vertex of the 3d model will be a particle emittersScene /pool/models/cube/cube.obj; Particles Texture: The texture to be used on each texturestring /resources/textures/part_redglow.jpg; Time between emissions (seconds)fEmissionTime 0.1; Particles Lifetime (seconds)fParticleLifetime 20.0; Particles sizefParticleSize 0.1; *************************; * PARTICLES POSITIONING *; *************************; Translation for object nstring tx:=-4;ty:=-1.75; tz:=-8;; Rotation for object nstring rx:=90; ry:=180; rz:=180;; Scale for object nstring sx:=0.1; sy:=0.1; sz:=0.1;