; Changes the camera position

; FreeCamera: 0=Using spline file, 1=Free Camera (only works in debug mode)
fFreeCamera 1

; Spline file that defines the camera movement
cCameraFile ./data/pool/cameras/camera.cam

; Camera offset modifiers (optional)
sValues PosX:=10*sin(t);	PosY:=0;		PosZ:=0;
sValues Yaw:=0;				Pitch:=0;		Zoom:=0;